# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
.venv/
env/
ENV/
venv.bak/
env.bak/

# Local databases
database.db
database.db-journal

# Environment variables
.env

# IDE / Editor config
.vscode/
.idea/
.DS_Store

# Log files
*.log
